.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.container img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container h3,
p {
  word-wrap: break-word;
}
