.container-icone-description ul {
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.container-icone-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-items-immobile {
  display: flex;
}
