.container-content {
  padding-left: 8px;
  padding-inline-end: 12px;
}

.container-price-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-icons,
.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 4px 12px 4px;
}

.container-image {
  width: 100%;
  aspect-ratio: 2/1;
  overflow: hidden;
}

.container-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-icon p {

  white-space: nowrap;
}
